<!-- Sidenav -->


<!-- main app container -->
<app-navigation></app-navigation>
<main class="mx-lg-4" >
<div class="" [ngClass]="{ 'bg-light': user }" style="padding: 10px; background-color: #e0e0e0 !important">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
</main>
<!-- <footer style="bottom:0; position: fixed; width:100%">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.9); color:white; background-repeat: no-repeat;">
        © 2020 Industry 4.0 CheckUp 
    </div>
</footer> -->

