.selectpicker {
    background-color: white;
    border-width: thin;
    height: 35px;
    border-color: lightgray;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
}

mat-selection-list {
    max-height: 500px;
    overflow: auto;
    background-color: white;
    border-width: thin;
    border-color: lightgray;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
  }

#addDepartmentBtn {
    bottom: 0px;
    left: 154px;
    position: relative;
}

.carousel-multi-item .carousel-inner .carousel-item.active, .carousel-multi-item .carousel-item-next, .carousel-multi-item .carousel-item-prev, .controls-top {

    display: flex;
    

}
.controls-top {
    margin-left: 545px;
    padding:600px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  .carousel-control-next {
    width: 50px;
    top: 75vh; //control top from .buttons not here
    right: 45%; // this is not needed. to override. set right: inherit
    border-radius: 0 50px 50px 0;
  }

  span.carousel-control-next-icon, span.carousel-control-prev-icon {
  background-color: black;
  }

  .carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
    height: 2.25rem;
    width: 2.25rem;
    background-color: black;
}
  
  .carousel-control-prev {
    width: 50px;
    top: 75vh; //control top from .buttons not here
    right: 45%; // this is not needed. to override. set right: inherit
    border-radius: 0 50px 50px 0;
  }